html, body {
	cursor: crosshair;
	font-family: sans-serif;
	user-select: none;
}

.label {
	position: absolute;
}

#coin {
	position: absolute;
	color:#FACC2E;
	/*z-index:-9999999;*/
	content:url(/coin.gif);
	height: 20px;
	width: 20px;
}

#scoreBoard{
	float:right;
	border: 1px dotted #bbb;
	padding: 5px;
}
