html, body {
  cursor: none;
  font-family: sans-serif;
  user-select: none;
}

.player, .label{
  position: absolute;
}

#coin{
  font-size: 20px;
  color:red;
  position: absolute;
  color:#FACC2E; 
  font-size:20px"
}
