html, body {
	cursor: none;
	font-family: sans-serif;
	user-select: none;
}

.player, .label {
	position: absolute;
}

#coin {
	position: absolute;
	color:#FACC2E;
	z-index:-9999999;
}

i.icon-coin::before {
	content:url(/coin.gif);
	z-index:-9999999;
	height: 20px;
	width: 20px;
}
